body.adminimal-menu #admin-menu .dropdown li.admin-menu-action.admin-menu-account a {
  background: #c2c2c2 !important;
}
#block-elite-custom-avatar-block .points-wrapper,
#elite-user-block-wrapper .points-wrapper strong,
#elite-user-flop .points-wrapper strong,
#elite-user-flop ul.usermenu li a .count,
#elite-user-flop ul.usermenu li a:hover,
#block-system-main-menu ul.menu li a:hover,
#block-system-main-menu ul.menu li a.active:link,
#block-system-main-menu ul.menu li a.active:visited,
.view-trainings .taken .views-field-field-base-points,
.view-trends .taken .views-field-field-base-points,
.view-popular-content .taken .views-field-field-base-points,
.block-views.block-alerts-block h2.block-title,
.page-user .userpoints-points strong,
body.adminimal-menu #admin-menu .dropdown li.admin-menu-action.admin-menu-account a:hover {
  color: #cd9601;
}
progress[value]::-webkit-progress-value {
  background-color: #cd9601;
}
