body.adminimal-menu #admin-menu .dropdown li.admin-menu-action.admin-menu-account a {
  background: #c2c2c2 !important;
}
#block-elite-custom-avatar-block .points-wrapper,
#elite-user-block-wrapper .points-wrapper strong,
#elite-user-flop .points-wrapper strong,
#elite-user-flop ul.usermenu li a .count,
#elite-user-flop ul.usermenu li a:hover,
#block-system-main-menu ul.menu li a:hover,
#block-system-main-menu ul.menu li a.active:link,
#block-system-main-menu ul.menu li a.active:visited,
#block-system-main-menu ul.menu li a.active-trail:link,
#block-system-main-menu ul.menu li a.active-trail:visited,
.view-trainings .taken .views-field-field-base-points,
.view-trends .taken .views-field-field-base-points,
.view-popular-content .taken .views-field-field-base-points,
.block-views.block-alerts-block h2.block-title,
.page-user .userpoints-points strong,
body.adminimal-menu #admin-menu .dropdown li.admin-menu-action.admin-menu-account a:hover {
  color: #cd9601;
}
.page-forum ul.action-links a,
.page-messages ul.action-links a,
.node-forum .content ul.links.inline a,
form.comment-form input[type="submit"],
form.comment-form input.form-submit,
form.comment-form input[type="submit"].form-submit,
.view-home-slides .views-slideshow-cycle-main-frame-row .views-field-field-slide-button a,
.view-sliders .views-slideshow-cycle-main-frame-row .views-field-field-slide-button a,
.not-logged-in.page-user .form-submit, .view-home-slides .views-slideshow-cycle-main-frame-row .views-field-field-slide-button a:hover,
.view-sliders .views-slideshow-cycle-main-frame-row .views-field-field-slide-button a:hover,
a.bigBtn,
span.bigBtn,
a.outBtn,
a.bigbtn,
span.bigbtn,
a.outbtn,
a.privatemsg-send-link-profile,
progress[value]::-webkit-progress-value {
  background-color: #cd9601;
}
.not-logged-in.page-user #block-system-main,
.not-logged-in.page-user.responsive-layout-narrow #block-system-main {
  background: #000;
}