/* CSS for min-width 770px? */
.responsive-layout-normal .view-trainings .views-column,
.responsive-layout-normal .view-trends .views-column {
  min-height: 234px;
}
.not-logged-in.page-user.responsive-layout-normal #block-system-main,
.not-logged-in.page-user.responsive-layout-normal #messages .messages {
  width: 90%;
}

.responsive-layout-normal .view-popular-content .views-column {
  min-height: 130px;
}
.responsive-layout-normal .view-popular-content .views-field-field-rating {
  left: 105px;
}
.responsive-layout-normal .view-trainings .view-footer article.node-poll {
  min-height: 234px;
}
.responsive-layout-normal .view-trainings .view-footer article.node-poll h1,
.responsive-layout-normal .view-trainings .view-footer article.node-poll .poll-title {
  font-size: 1.2em;
  line-height: 1em;
}
.responsive-layout-normal .view-trainings .view-footer article.node-poll .form-item.form-item-choice {
  margin: 0 0 .3em;
}
.responsive-layout-normal .view-sliders .views-slideshow-cycle-main-frame-row .views-field-field-slide-button {
  bottom: 20px;
}

a.bigBtn,
a.bigbtn,
span.bigBtn,
span.bigbtn  {
	width: 487px;
	margin: 0 40px 40px;
}

.node-type-tool .container-12 .grid-9.region-content {
	width: 100%
}
.node-type-tool .container-12 .grid-3.region-sidebar-second {
	display: none
}
.node-tool .field-name-field-external-link {
	float: left;
	margin: 0 0 0 1em;
}
.node-tool .flag-outer-favorites {
	margin-right: 2em
}
.node-tool .field-name-field-image,
.node-tool .field-name-field-image img {
	height: 432px;
}
.container-12 .grid-12 .pad .grid-4 {
	width: 170px;
	margin-left: 40px;
}
.container-12 .grid-12 .pad .grid-8 {
	width: 458px;
}
.container-12 .grid-12 .pad .grid-10 {
	width: 500px;
}
.container-12 .grid-12 .pad .grid-12 {
	width: 668px;
}

/* header */
#avatar-block-wrapper .points-wrapper {
	display: block
}
.block-main-menu ul.menu li a:link, .block-main-menu ul.menu li a:visited {
	padding: 0 15px;
	font-size: 19px;
}
/* homepage */
.view-popular-content .views-field-field-image img {
	margin: 0 0 5px;
	max-width: none;
	width: 100%;
	float: none;
}
.view-popular-content .views-field-field-image,
.view-popular-content .views-field-title {
	float: left;
	width: 100%;
}
.responsive-layout-normal .view-popular-content .views-field-field-rating {
	left: 5px;
}
.responsive-layout-normal .view-popular-content .views-column {
	min-height: 200px
}
.view-trends .views-field-ops,
.view-trainings .views-field-ops,
.view-popular-content .views-field-ops {
	top: auto;
	bottom: 40px;
	right: 10px;
}
.view-trainings .views-field-field-media-types, 
.view-trends .views-field-field-media-types {
	right: 10px;
}
.view-trainings img,
.view-trends img {
	width: 182px;
	height: 102px;
}
.view-trainings .views-field-title, 
.view-trends .views-field-title, 
.view-store .views-field-title {
	margin: 0 0 2em 0.5em;
}
.view-trainings .views-field-field-rating, 
.view-trends .views-field-field-rating, 
.view-store .views-field-field-rating {
	left: 10px;
}
.block.block-app {
	background-position: 90% 34px;
}
.view-sliders .views-slideshow-cycle-main-frame-row .views-field-title {
	font-size: 61px;
	top: 20px;
}
article.node-article .flag-outer-favorites, 
article.node-training .flag-outer-favorites {
	right: 60px;
}
article.node-training .field-name-field-media-types, 
article.node-article .field-name-field-media-types {
	right: 25px;
}
body.page-node.node-type-training #zone-content,
body.page-node.node-type-quiz #zone-content,
body.page-node.node-type-article #zone-content,
body.page-node.node-type-tool #zone-content {
  background: #fff url(../images/bg-twocol768.gif) repeat-y 100% 0;
  background-size: 100%;
}
#elite-user-block-wrapper {
	height: 209px;
}

.not-logged-in.page-user h1 {
	letter-spacing: -1px;
	font-size: 4.5em;
	line-height: 0.7;
}
.not-logged-in.page-user .form-submit {
	font-size: 1.3em;
}

.block-home-slides-block:before {
  padding-top: 50%;
}
.tabs ul.primary li a {
  padding: 10px 15px;
}
.wbar #logo {
  left: 50%;
}
body.node-type-quiz .quiz-score-submit input.form-submit {
  padding: 0 100px;
}
.block-main-menu ul.menu li.first {
  display: inline-block;
}
.password-strength {
  float: right;
}



/*
	* Public profile View
	*/
.profile {}
.profile:before {
	height: 168px;
}
.profile:after {
	top: 170px;
}
.profile .user-picture {
	top: 10px;
	left: 10px;
	background: url('../whitelabel/actionlink/images/bg-user.png') no-repeat;
	background-size: contain;
	width: 140px;
	height: 137px;
}
.profile .user-picture img {
	left: 18px;
	top: 17px;
	width: 93px;
  
  -webkit-border-radius: 46px;
  -moz-border-radius: 46px;
  border-radius: 46px;
}
.page-user .group-column-first {
	width: 28%;
	height: 170px;
	padding-top: 30px;
	padding-left: 0;
	margin-left: 20%;
	float: left;
}
.page-user .group-column-first div:first-of-type h3,
.page-user .group-column-first .field-label {
	width: 28%;
}
.page-user .group-column-first div:first-of-type .field-name-field-user-name-first {
	margin-right: 5px;
}
.page-user .group-column-second {
	height: 170px;
	padding-top: 20px;
	float: right;
}
.page-user .group-personal {
	padding: 25px;
}
.page-user .group-personal .field {
	margin-bottom: 25px;
}


/*
	* Subnav
	*/

#block-menu-menu-resources-subnav,
#block-menu-menu-trends-subnav {
	float: left;
	margin-top: 0;
	margin: 0 0 20px 20px;
	display: block;
	z-index: 91;
}

/**
 * Alerts
 */
.block-alerts-block {
position: relative;
height: 48px;
}
.block-views.block-alerts-block h2.block-title {
float: left;
padding: 14px 0 0;
width: 100px;
text-align: center;
}
.block-alerts-block .content {
padding: 14px 0 0 100px;
}
.block-alerts-block .views-slideshow-controls-bottom {
float: left;
width: 59px;
position: absolute;
top: 10px;
right: 9px;
}
/**
 * Forums
 */
#forum td.forum,
.node-forum h2.node-title,
.node-forum .content,
.node-forum .comment,
h2.comment-form.title,
form.comment-form {
padding-left: 65px;
}
form.comment-form {
padding-right: 65px;
}
.page-comment-reply form.comment-form {
padding: 32px 0 80px;
}
.node-forum .indented {
margin: 0 110px;
}
.node-forum .indented .comment {
padding-left: 0;
}
/* resources masonry */
.view-tools .masonry-item {
  width: 25%;
  box-shadow: 0 0 1px #7d7d7d inset;
}
.view-home-slides,
#views_slideshow_cycle_main_home_slides-block,
#views_slideshow_cycle_teaser_section_home_slides-block,
.block-home-slides-block  {
  height: 455px !important;
}
.responsive-layout-normal .view-trainings .views-column,
.responsive-layout-normal .view-trends .views-column,
.view-trainings .view-footer article.node-poll {
  min-height: 303px !important;
}
  .youtubeplayer {
    /* 16x9 */
    width: 576px;
    height: 324px;
  }
  /*
  .page-messages-view .privatemsg-author-avatar {
    float: left;
    width: 80px;
  }
  */
  #forum td.forum,
  .node-forum h2.node-title,
  .node-forum .content,
  .node-forum .comment,
  h2.comment-form.title,
  form.comment-form {
    padding-left: 65px;
  }
  form.comment-form {
    padding-right: 65px;
  }
  .page-comment-reply form.comment-form {
    padding: 32px 0 80px;
  }
  .node-forum .indented {
    margin: 0 110px;
  }
  .node-forum .indented .comment {
    padding-left: 0;
  }
  #block-system-main-menu ul.menu li a:link, #block-system-main-menu ul.menu li a:visited {
    font-size: 15px !important;
  }
  
  .block.block-tips,
  .block.block-app {
    height: 260px !important;
  }
  .responsive-layout-normal .view-trainings .views-column,
  .responsive-layout-normal .view-trends .views-column,
  .view-trainings .view-footer article.node-poll {
    min-height: 303px !important;
  }
  .block-alerts-block {
    position: relative;
    height: 48px;
  }
  .block-views.block-alerts-block h2.block-title {
    float: left;
    padding: 14px 0 0;
    width: 100px;
    text-align: center;
  }
  .block-alerts-block .content {
    padding: 14px 0 0 100px;
  }
  .block-alerts-block .views-slideshow-controls-bottom {
    float: left;
    width: 59px;
    position: absolute;
    top: 10px;
    right: 9px;
  }
  body.logged-in #zone-branding,
  body.logged-in #zone-content,
  body.page-node #zone-content,
  .section-title {
    background: #fff url(../images/border768.gif) repeat-y 0 0;
  }
  body.page-trainings #zone-content,
  body.page-trends #zone-content,
  body.page-news #zone-content,
  body.page-node.node-type-training #zone-content,
  body.page-node.node-type-quiz #zone-content,
  body.page-node.node-type-article #zone-content,
  body.page-node.node-type-tool #zone-content {
    background-image: url(../images/bg-twocol768.gif) !important;
  }
  article.node-training .field-name-field-image, 
	article.node-article .field-name-field-image, 
	#qvideo, 
	.sublimevideo-View {
    padding-left: 1px;
  }