/* CSS for width > 770 */
body.page-node.node-type-training #zone-content,
body.page-node.node-type-quiz #zone-content,
body.page-node.node-type-article #zone-content,
body.page-node.node-type-tool #zone-content {
  background: #fff url(../images/bg-twocol.gif) repeat-y 100% 0;
  background-size: 100%;
}
body.page-node.node-type-tool #zone-content {
	background-color: #f8f8f8;
}

.node-type-tool .container-12 .grid-9.region-content {
	width: 75%
}
.node-type-tool .container-12 .grid-3.region-sidebar-second {
	display: inline;
	width: 25%
}
.node-tool h1 {
	margin-left: 0;
	padding-left: 0;
}
.node-tool .field-name-field-company {
	margin-bottom: 3.5em;
	margin-left: 0;
	padding-left: 0;
}
.node-tool a.outBtn,
.node-tool a.outbtn {
	width: 100%;
	margin: 0;
	padding: 0 1em;
}
.node-tool .tool-mainimg {
	width: 260px; margin: 5px
}
a.bigBtn,
a.bigbtn,
span.bigBtn,
span.bigbtn {
	width: 730px;
}
.node-tool .group-tooltop {
	float: right;
	width: 520px;
}
.node-tool .field-name-field-image,
.node-tool .field-name-field-image img {
	height: 456px;
}
/* homepage */
.view-popular-content .views-field-title {
	width: 135px;
}
.view-popular-content .views-field-field-image {
	width: 114px;
	margin-right: 10px;
}
.view-trainings .views-field-title,
.view-trends .views-field-title,
.view-store .views-field-title {
	margin: 0 1em 2em;
}
.view-trainings .views-field-field-rating, 
.view-trends .views-field-field-rating, 
.view-store .views-field-field-rating {
	left: 20px;
}
.view-trends .views-field-ops, 
.view-trainings .views-field-ops, 
.view-popular-content .views-field-ops,
.view-trainings .views-field-field-media-types, 
.view-trends .views-field-field-media-types {
	right: 20px;
}
.view-trainings img,
.view-trends img {
	width: 260px;
	height: 146px;
}
.block.block-app {
	background-position: 360px 34px;
}
.view-sliders .views-slideshow-cycle-main-frame-row .views-field-title {
	font-size: 5em;
	top: 20px;
}
article.node-training .field-name-field-rating, 
article.node-article .field-name-field-rating {
	margin: 20px 0 0 138px;
}
article.node-blog .field-name-field-rating .field-label, 
article.node-training .field-name-field-rating .field-label, 
article.node-article .field-name-field-rating .field-label {
	display: inline-block;
}

.block-home-slides-block:before {
  padding-top: 35%;
}

.node-tool .field-name-field-external-link {
  margin: 0;
}
.tabs ul.primary li a {
  padding: 10px 15px;
}
.wbar #logo {
  left: 50%;
}
body.node-type-quiz .quiz-score-submit input.form-submit {
  padding: 0 100px;
}
.block-main-menu ul.menu li.first {
  display: inline-block;
}
.password-strength {
  float: right;
}


/*
	* Public profile View
	*/
.profile {
	position: relative;
	margin: 0;
}
.profile:before {
	content: "";
	display: block;
	position: absolute;
	top: 1px;
	left: 0;
	background: #f1f0f0;
	width: 99.9%;
	height: 218px;
	z-index: 1;
	border: 1px solid #cfcfcf;
	border-width: 0 1px;
}
.profile:after {
	content: "";
	display: block;
	position: absolute;
	top: 220px;
	left: 0;
	background: #cfcfcf;
	width: 100%;
	height: 1px;
	z-index: 1;
}
.profile .user-picture {
	position: absolute;
	top: 20px;
	left: 20px;
	z-index: 10;
	float: none;
	margin: 0;
	background: url('../whitelabel/actionlink/images/bg-user.png') no-repeat;
	width: 187px;
	height: 183px;
}
.profile .user-picture img {
	position: absolute;
	top: 22px;
	left: 24px;
	width: 125px;
  
  -webkit-border-radius: 62px;
  -moz-border-radius: 62px;
  border-radius: 62px;
}
.page-user .group-column-first {
	position: relative;
	float: left;
	width: 28%;
	margin-left: 20%;
	z-index: 10;
	height: 220px;
	padding-top: 60px;
	padding-left: 0;
	font-size: 16px;
}
.page-user .group-column-first div:first-of-type .field-name-field-user-name-first,
.page-user .group-column-first div:first-of-type .field-name-field-user-name-last,
.page-user .group-column-first div:first-of-type h3 {
	display: inline-block;
	font-size: 16px;
	border: 0;
}
.page-user .group-column-first div:first-of-type h3,
.page-user .group-column-first .field-label {
	font-weight: bold;
	width: 20%;
	margin: 0;
}
.page-user .group-column-first div:first-of-type .field-name-field-user-name-first {
	margin-right: 5px;
}
.page-user .group-column-first .field-name-field-user-shipping .street-block, 
.page-user .group-column-first .field-name-field-user-shipping .postal-code {
	display: none;
}
.page-user .group-column-first .field-name-field-user-shipping .field-items,
.page-user .group-column-first .field-name-field-user-shipping .field-item {
	display: block;
	float: none;
}
.page-user .group-column-first .field-name-field-user-shipping .addressfield-container-inline {
	float: left;
	display: inline;
}
.page-user .group-column-first .field-name-field-user-shipping .state:after {
	content:",";
	display: inline;
	margin-right: 5px;
}
.page-user .group-column-second {
	position: relative;
	float: right;
	/* width: 28%;*/
	margin-right: 5%;
	z-index: 10;
	height: 220px;
	padding-top: 50px;
	text-align: center;
}
.page-user .group-column-second .userpoints-links, 
.page-user .group-column-second .userpoints-total {
	display: none;
}
.page-user .group-column-second h3 {
	font-size: 16px;
	text-transform: uppercase;
	border: 0 !important;
  font-weight: 700;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
}
.page-user .group-column-second .item-list {
  font-weight: 700;
	font-size: 28px;
	margin-bottom: 30px;
}
.page-user .group-column-second .item-list ul, 
.page-user .group-column-second .item-list ul li {
	margin: 0;
}
.page-user .group-personal {
	position: relative;
	clear: both;
	z-index: 10;
	padding: 45px;
}
.page-user .group-personal .field {
	margin-bottom: 45px;
}
.page-user .group-personal .field-label {
	font-size: 24px;
	font-weight: normal;
	margin-bottom: 10px;
}

/*
	* Profile Menu
	*/
.tabs ul.primary {
	border-bottom: 1px solid #fff;
	border-left: 1px solid #cfcfcf;
	background: #464646;
	margin: 0;
	padding: 0;
}
.tabs ul.primary li {
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;
	border-right: 1px solid #cfcfcf;
	float: left;
	text-transform: capitalize;
}
.tabs ul.primary li a {
	border: 0;
	margin: 0;
	background: #464646;
	color: #fff;
	font-size: 16px;
	display: inline-block;
	padding: 0 35px;
	height: 60px;
	line-height: 60px;
	text-decoration: none;
}
.tabs ul.primary li a:hover {
  color: #b3bb16;
}
.tabs ul.primary li a.active {
	background: #f1f0f0;
	color: #464646;
}

/*
	* User Edit 
	*/
body.page-user-me-edit .block-main {
	padding: 45px;
}
#user-profile-form {}
#user-profile-form .form-item {
	margin: 0;
}
#user-profile-form .form-item label, 
#user-profile-form legend {
	font-weight: normal;
	font-size: 19px;
	margin-bottom: 10px;
}
#user-profile-form .form-item input,
#user-profile-form .form-item textarea,
#user-profile-form .form-item select {
	border: 1px solid #c1c1c1;
	font-size: 16px;
	padding: 5px 10px;
	height: auto;
	width: 100%;
}
#user-profile-form .form-item textarea {
	padding: 15px;
}
#user-profile-form .form-item .form-checkbox {
	width: auto;
}
#user-profile-form .form-required {
	color: inherit;
}
#user-profile-form .form-item select {
	padding: 4px 10px;
}
#user-profile-form #edit-picture {
	margin-bottom: 30px;
}
#user-profile-form #edit-picture .user-picture {
	float: left;
	width: 11.5%;
}
#user-profile-form .form-item input#edit-picture-upload {
	border: 0;
	padding: 0;
	font-size: 12px;
}
#user-profile-form #edit-picture legend, 
#user-profile-form #edit-picture .form-type-file {
	float: right;
	display: block;
	width: 86%;
	margin: 0;
}
#user-profile-form #edit-picture legend {
	font-size: 19px;
	margin-bottom: 10px;
}
#user-profile-form #edit-picture legend:before {
	content: "Profile";
	display: inline;
	margin-right: 5px;
}
#user-profile-form #edit-picture .form-type-file label {
	display: none;
}
#user-profile-form #edit-picture .form-type-file .description {
	font-size: 16px;
}

#user-profile-form .field-name-field-user-name-first, 
#user-profile-form .field-name-field-user-name-last {
	float: left;
	width: 47%;
	margin-bottom: 30px;
}
#user-profile-form .field-name-field-user-name-last {
	float: right;
}
#user-profile-form .field-name-field-user-name-first .form-text, 
#user-profile-form .field-name-field-user-name-last .form-text {
	width: 100%;
}

#user-profile-form #edit-account {
	clear: both;
}
#user-profile-form #edit-account .form-type-textfield, 
#user-profile-form #edit-account .form-type-textfield {
	float: left;
	width: 47%;
	margin-bottom: 30px;
}
	
#user-profile-form #edit-account .form-item-current-pass, 
#user-profile-form #edit-account .form-type-password-confirm  {
	float: right;
	width: 47%;
	margin-bottom: 30px;
}
#user-profile-form #edit-account .form-type-textfield .form-text, 
#user-profile-form #edit-account .form-item-current-pass .form-text	{
	width: 100%;
	margin-bottom: 5px;
}
#user-profile-form #edit-account .form-type-textfield .description, 
#user-profile-form #edit-account .form-item-current-pass .description,
#user-profile-form #edit-account .form-type-password-confirm .description	{
	line-height: 1.4;
	font-size: 12px;
	color: #999;
}
#user-profile-form #edit-account .form-item-current-pass .description a	{
	display: inline-block;
	color: #999;
	text-decoration: underline;
}
 
#user-profile-form #edit-account .password-parent,
#user-profile-form #edit-account .confirm-parent, 
#user-profile-form #edit-account div.form-item div.password-suggestions {
	width: 100%;
}
#user-profile-form #edit-account div.password-confirm,
#user-profile-form #edit-account .password-strength {
	width: 50%;
}
#user-profile-form #edit-account .password-parent input.form-text,
#user-profile-form #edit-account .confirm-parent input.form-text {
	width: 47%;
}


#user-profile-form #edit-field-user-job-type, 
#user-profile-form #edit-field-user-shipping {
	clear: both;
	float: left;
	width: 47%;
	margin-bottom: 30px;
}
#user-profile-form #edit-field-user-shipping {
	clear: right;
	float: right;
}
#user-profile-form #edit-field-user-shipping .form-item-field-user-shipping-und-0-country {
	margin-bottom: 10px;
}
#user-profile-form #edit-field-user-shipping .form-item-field-user-shipping-und-0-country select {
	width: 100%;
}
#user-profile-form #edit-field-user-shipping .street-block, 
#user-profile-form #edit-field-user-shipping .addressfield-container-inline {
	float: left;
	width: 47%;
	margin-bottom: 30px;
}
#user-profile-form #edit-field-user-shipping .addressfield-container-inline {
	float: right;
}
#user-profile-form #edit-field-user-shipping .street-block .form-item, 
#user-profile-form #edit-field-user-shipping .addressfield-container-inline .form-item {
	float: none;
	margin-bottom: 10px;
}

#user-profile-form #edit-field-love-sony, 
#user-profile-form #edit-field-expertise, 
#user-profile-form #edit-field-interests-hobbies, 
#user-profile-form #edit-field-user-email-opt-in, 
#user-profile-form #edit-field-cyberscholar {
	clear: both;
	margin-bottom: 30px;
}

/*
	* Subnav
	*/

#block-menu-menu-resources-subnav,
#block-menu-menu-trends-subnav {
	position: relative;
	float: right;
	margin-top: -40px;
	display: block;
	z-index: 91;
}
#block-menu-menu-resources-subnav ul.menu,
#block-menu-menu-resources-subnav ul.menu li,
#block-menu-menu-resources-subnav ul.menu li a,
#block-menu-menu-trends-subnav ul.menu,
#block-menu-menu-trends-subnav ul.menu li,
#block-menu-menu-trends-subnav ul.menu li a {
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
}
#block-menu-menu-resources-subnav ul.menu li,
#block-menu-menu-trends-subnav ul.menu li {
	margin-right: 20px;
}

.view-home-slides,
#views_slideshow_cycle_main_home_slides-block,
#views_slideshow_cycle_teaser_section_home_slides-block,
.block-home-slides-block  {
  height: 455px !important;
}

  #messages {
    max-width: 771px;
  }
  .youtubeplayer {
    /* 16x9 */
    width: 810px;
    height: 456px;
  }
  .block-home-slides-block,
  .view-home-slides,
  #views_slideshow_cycle_main_home_slides-block,
  #views_slideshow_cycle_teaser_section_home_slides-block {
    width: 1080px;
    height: 455px !important;
  }
body.logged-in #zone-branding,
  body.logged-in #zone-content,
  body.page-node #zone-content,
  .section-title {
    background-image: url(../images/border1080.gif);
  }
  body.page-trainings #zone-content,
  body.page-trends #zone-content,
  body.page-news #zone-content,
  body.page-node.node-type-training #zone-content,
  body.page-node.node-type-quiz #zone-content,
  body.page-node.node-type-article #zone-content,
  body.page-node.node-type-tool #zone-content {
    background-image: url(../images/bg-twocol.gif) !important;
  }