.block-views.block-alerts-block h2.block-title {
  color: #e98b3c;
}
.quiz-end a.button, .privatemsg-send-link-profile, .page-forum ul.action-links a, .page-messages ul.action-links a, .node-forum .content ul.links.inline a {
  color: #000;
}
.block-views.block-alerts-block .views-row,
.block-views.block-alerts-block .views-row a,
.forum-title,
.forum-title a,
.tabs ul.primary li a.active,
.tabs ul.primary li a:hover {
  color: #fff !important;
  white-space: nowrap;
}
.block-alerts-block {
  background: #464646;
}
.forum-title,
.tabs ul.primary,
.tabs ul.primary li a {
  background: #31a3ac !important;
}
.tabs ul.primary li a:hover,
.tabs ul.primary li a.active {
  background: #28858c !important;
}
.quiz-end a.button, .privatemsg-send-link-profile, .page-forum ul.action-links a, .page-messages ul.action-links a, .node-forum .content ul.links.inline a {
  background: #e98b3c;
}
.logged-in .form-actions input[type="submit"], .logged-in .form-actions input.form-submit, .vote-form input.form-submit, .logged-in .form-actions input[type="submit"].form-submit, .context-contact .form-actions input.form-submit, form.comment-form input[type="submit"], form.comment-form input.form-submit, form.comment-form input[type="submit"].form-submit {
  background: #feb800;
}
.not-logged-in.page-user #zone-content {
  background-image: url(../images/bg-login.jpg);
  background-size: cover;
}
body.page-user #userpoints-list-transactions tr.userpoints-myuserpoints-total-approved {
  background: #e98b3c !important;
}
body.page-user #userpoints-list-transactions tr.userpoints-myuserpoints-total-pending {
  background: #d07c36 !important;
}
.quiz-end a.button, .privatemsg-send-link-profile, .page-forum ul.action-links a, .page-messages ul.action-links a, .node-forum .content ul.links.inline a {
  font-weight 400;
  font-family: 'Qualcomm-Semibold', sans-serif;
}
@media screen and (min-width: 770px) {
  .view-home-slides,
  #views_slideshow_cycle_main_home_slides-block,
  #views_slideshow_cycle_teaser_section_home_slides-block,
  .block-home-slides-block  {
    height: 455px !important;
  }
  .responsive-layout-normal .view-trainings .views-column,
  .responsive-layout-normal .view-trends .views-column,
  .view-trainings .view-footer article.node-poll {
    min-height: 303px !important;
  }
}
@media screen and (min-width: 1024px) {
  .view-home-slides,
  #views_slideshow_cycle_main_home_slides-block,
  #views_slideshow_cycle_teaser_section_home_slides-block,
  .block-home-slides-block  {
    height: 455px !important;
  }
}